
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    <link href="~/css/Login.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form id="signupForm" class="register-form">
                <input id="Name" type="text" placeholder="name" />
                <input id="Password" type="password" placeholder="password" />
                <input id="Email" type="text" placeholder="email address" />
                <input id="image" type="file" placeholder="" />
                <button id="signupBtn">Signup</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form id="loginForm" class="login-form">
                <input id="LEmail" type="text" placeholder="email" />
                <input id="LPassword" type="password" placeholder="password" />
                <button id="loginBtn">login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>
    <script>
        $('.message a').click(function () {
            $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
        });
    </script>
    <script src="~/js/Login.js"></script>
</body>
</html>
